<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:comment>
<!--
<f:debug>{_all}</f:debug>
-->
</f:comment>


<f:section name="emailAuthstate">
	<f:if condition="{t3quote.authorEmail}">
		<f:then>
			<f:if condition="{settings.disableDetailView">
				<f:then>
					{t3quote.authorName}<f:if condition="{t3quote.authorTitle}">, {t3quote.authorTitle}</f:if>
				</f:then>
				<f:else>
					<f:link.email email="{t3quote.authorEmail}">{t3quote.authorName}<f:if condition="{t3quote.authorTitle}">, {t3quote.authorTitle}</f:if></f:link.email>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			{t3quote.authorName}<f:if condition="{t3quote.authorTitle}">, {t3quote.authorTitle}</f:if>
		</f:else>
	</f:if>
</f:section>

<f:section name="emailNoAuthstate">
	<f:if condition="{t3quote.authorName}">
		<f:then>
			<f:if condition="{t3quote.authorName}">{t3quote.authorName}<f:if condition="{t3quote.authorTitle}">, {t3quote.authorTitle}</f:if></f:if>
		</f:then>
		<f:else>
			Unknown
		</f:else>
	</f:if>
</f:section>

<f:section name="listItem">
	<P class="tx-t3quotes-pi1-listrowField-author">
		<f:if condition="{t3quote.date}">
			<f:then>
				<f:if condition="{settings.formatDate}">
					<f:then>
						<f:format.date format="{settings.formatDate}">{t3quote.date}</f:format.date>
					</f:then>
					<f:else>
						<f:format.date format="d.m.Y">{t3quote.date}</f:format.date>
					</f:else>
				</f:if><f:if condition="{t3quote.authorName}">, <f:translate key="tx_t3quotes_domain_model_t3quotes.by" /></f:if>
			</f:then>
			<f:else>
				<f:if condition="{t3quote.authorName}"><f:translate key="tx_t3quotes_domain_model_t3quotes.by" /></f:if>
			</f:else>
		</f:if>
		<f:if condition="{t3quote.authstate}">
			<f:then><f:render section="emailAuthstate" arguments="{t3quote: t3quote, settings: settings}"/></f:then>
			<f:else>
				<f:if condition="{settings.ignoreAuthState}">
					<f:then><f:render section="emailAuthstate" arguments="{t3quote: t3quote, settings: settings}"/></f:then>
					<f:else><f:render section="emailNoAuthstate" arguments="{t3quote: t3quote, settings: settings}"/></f:else>
				</f:if>
			</f:else>
		</f:if>
	</p>
	<P class="tx-t3quotes-pi1-listrowField-quote"><f:format.nl2br>{t3quote.quote}</f:format.nl2br></P>
	<f:if condition="{t3quote.preface}"><p class="tx-t3quotes-pi1-listrowField-preface"><strong><f:translate key="tx_t3quotes_domain_model_t3quotes.labelPreface" /></strong> <f:format.nl2br>{t3quote.preface}</f:format.nl2br></p></f:if>
</f:section>

<f:section name="main">
	
	<div class="tx-t3quotes-pi1-listrow">
		<f:for each="{t3quotes}" as="t3quote">
			
			<f:if condition="{settings.disableDetailView">
				<f:then>
					<a name="tx_t3quotes_pi1-{t3quote.uid}"></a>
					<f:link.action action="show" arguments="{t3quote : t3quote}" class="full-listitem-link"><f:render section="listItem" arguments="{t3quote : t3quote, settings: settings}" /></f:link.action>
				</f:then>
				<f:else>
					<a name="tx_t3quotes_pi1-{t3quote.uid}"></a>
					<f:render section="listItem" arguments="{t3quote : t3quote, settings: settings}" />
				</f:else>
			</f:if>
			
		</f:for>
	</div>

	<f:if condition="{settings.feFormEnabled}">
		<div class="tx-t3quotes-pi1-link tx-t3quotes-pi1-newLink">
			<hr/>
			<f:link.action action="new" additionalParams="{referer:'listview'}" class="linkButton"><f:translate key="tx_t3quotes_domain_model_t3quotes.linkNewQuote" /></f:link.action>
		</div>
	</f:if>
	
</f:section>

</html>
