<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate key="tx_t3quotes_domain_model_t3quotes.headlineNewQuote" /></h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:T3quotes}" />

<f:form action="create" name="newT3quotes" object="{newT3quotes}">
<f:render partial="T3quotes/FormFields" arguments="{t3quote:t3quote}" />
	<div class="submit-container"><f:form.submit value="{f:translate(key:'tx_t3quotes_domain_model_t3quotes.btnCreateNewQuote')}" /></div>
</f:form>


<div class="tx-t3quotes-pi1-link tx-t3quotes-pi1-listLink">
	<hr/>
	<f:link.action action="list" additionalParams="{referer:'newview'}" class="linkButton"><f:translate key="tx_t3quotes_domain_model_t3quotes.linkBackToList" /></f:link.action>
</div>
</f:section>
</html>