<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for T3quotes</h1>

<f:flashMessages />

<table  class="tx_t3quotes" >
	<tr>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.preface" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.quote" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.full_context" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.author_name" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.author_email" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.author_title" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.weight" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.date" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.selected" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.rotation_quote" /></th>
		<th><f:translate key="tx_t3quotes_domain_model_t3quotes.authstate" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{t3quotess}" as="t3quotes">
		<tr>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.preface}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.quote}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.fullContext}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.authorName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.authorEmail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.authorTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.weight}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.selected}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.rotationQuote}</f:link.action></td>
			<td><f:link.action action="show" arguments="{t3quotes : t3quotes}"> {t3quotes.authstate}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{t3quotes : t3quotes}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{t3quotes : t3quotes}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New T3quotes</f:link.action>
</f:section>
</html>