<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-t3quotes" >
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.preface" />
		</td>
		<td>
		{t3quotes.preface}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.quote" />
		</td>
		<td>
		{t3quotes.quote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.full_context" />
		</td>
		<td>
		{t3quotes.fullContext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.author_name" />
		</td>
		<td>
		{t3quotes.authorName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.author_email" />
		</td>
		<td>
		{t3quotes.authorEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.author_title" />
		</td>
		<td>
		{t3quotes.authorTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.weight" />
		</td>
		<td>
		{t3quotes.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.date" />
		</td>
		<td>
		{t3quotes.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.selected" />
		</td>
		<td>
		{t3quotes.selected}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.rotation_quote" />
		</td>
		<td>
		{t3quotes.rotationQuote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3quotes_domain_model_t3quotes.authstate" />
		</td>
		<td>
		{t3quotes.authstate}
		</td>
	</tr>
</table>
</html>